SUPABASE_DB_URL=jdbc:postgresql://aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=require
SUPABASE_DB_USER=postgres.zlwlbulvmdfiktgzmiha
SUPABASE_DB_PASSWORD=replace-with-your-database-password
SUPABASE_DB_DRIVER=org.postgresql.Driver
